topic-web/target
topic-server/target
post-web/target
post-server/target
directory-web/target
directory-server/target
kafka-request-reply-util/target
eureka-server/target
authorization-server/target
auth-gateway-server/target
resource-service/target
*.idea/
jwks
jwks.1
remove_files_before_start.sh
docker-compose_not_work_.yml
docker-compose_recovery_.yml
generate.sh

./directory-web/target/test-classes/application-test.yml_
./directory-web/target/test-classes/application-test.properties_
./directory-web/src/test/java/com/forum/directory/web/DirectoryWebControllerIntegrationTest.java_
./directory-web/src/test/java/com/forum/directory/web/DirectoryWebServiceIntegrationTest.java_
./directory-web/src/test/resources/application-test.yml_
./directory-web/src/test/resources/application-test.properties_
./auth-gateway-server/src/main/java/com/example/gatewayserver/filter/CorsFilter.java_
./resource-service/src/main/java/com/example/resourceserver/config/OpenApiConfig.java_
./resource-service/src/main/java/com/example/resourceserver/resource/ResourceController.java_
./resource-server_old_not_working/src/main/java/com/example/resourceserver/config/ResourceServerConfig.java_
./resource-server_old_not_working/src/main/java/com/example/resourceserver/resource/ResourceController.java__

